@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --body-bg: #FFFFFF;
    --navbar-bg: #F2F5F6;
    --navlink-color: #12141D;
    --active-navlink-color: #043A53;
    --hero-bg: #F2F5F6;
    --btn-bg: #FFFFFF;
    --btn-bg-1: var(--active-navlink-color);
    --primary-text-color: #FFFFFF;
    --text-color: #12141D;
    --text-color-1: var(--active-navlink-color);
    --text-color-2: #55585E;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--body-bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

code {
    font-family: "Lato", sans-serif;
}

.header {
    width: 100%;
    height: 98px;
    background: var(--navbar-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    z-index: 998;
}

.header .logo {
    width: 158px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .nav {
    max-width: 100%;
    height: 100%;
}

.header .nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding-left: 0px;
}

.header .nav ul li a {
    font-size: calc(14px + 2 * (100vw - 320px) / 1080);
    font-weight: 700;
    color: var(--navlink-color);
    line-height: 100%;
    text-decoration: none;
}

.header .nav ul li a:hover {
    color: var(--active-navlink-color);
}

.header .nav ul li a.active {
    font-weight: 800;
    color: var(--active-navlink-color);
}

.header .auth-buttons {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header .login-btn {
    min-width: 92px;
    height: 50px;
    background: var(--btn-bg);
    border-radius: 42px;
    border: none;
    font-size: calc(14px + 2 * (100vw - 320px) / 1080);
    font-weight: 600;
    color: var(--text-color);
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.header .login-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.header .login-btn:active {
    transform: scale(0.95);
}

.header .signup-btn {
    min-width: 92px;
    height: 50px;
    background: var(--btn-bg-1);
    border-radius: 42px;
    border: none;
    font-size: calc(14px + 2 * (100vw - 320px) / 1080);
    font-weight: 600;
    color: var(--primary-text-color);
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.header .signup-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.header .signup-btn:active {
    transform: scale(0.95);
}

.hero {
    width: 100%;
    height: 100vh;
    background: var(--hero-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 98px 10px 0px 10px;
}

.hero img {
    width: 197px;
    height: 340px;
}

.hero .hero-wrapper {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.hero h1 {
    font-size: calc(45px + 15 * (100vw - 320px) / 1080);
    font-weight: 800;
    color: var(--text-color);
    line-height: 120%;
    text-align: center;
}

.hero h1 .highlight {
    color: var(--text-color-1);
}

.hero .hero-description {
    font-size: calc(15px + 5 * (100vw - 320px) / 1080);
    font-weight: 500;
    color: var(--text-color-2);
    line-height: 120%;
    text-align: center;
}

.hero .hero-buttons {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.hero .hero-buttons .cta-btn-1 {
    max-width: 100%;
    height: 60px;
    background: var(--btn-bg-1);
    border: none;
    border-radius: 55px;
    font-size: calc(16px + 2 * (100vw - 320px) / 1080);
    font-weight: 600;
    color: var(--primary-text-color);
    line-height: 100%;
    padding: 16px 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero .hero-buttons .cta-btn-1:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.hero .hero-buttons .cta-btn-1:active {
    transform: scale(0.95);
}

.hero .hero-buttons .cta-btn-2 {
    max-width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    border-radius: 55px;
    font-size: calc(16px + 2 * (100vw - 320px) / 1080);
    font-weight: 600;
    color: var(--text-color-1);
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    padding: 16px 24px;
    transition: all 0.3s ease;
}

.hero .hero-buttons .cta-btn-2:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.hero .hero-buttons .cta-btn-2 img {
    width: 35px;
    height: 35px;
}

.hero .hero-buttons .cta-btn-2:active {
    transform: scale(0.95);
}

@media all and (min-width: 992px) {
    .desktop-hide {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .tab-hide {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .header .nav ul {
        gap: 10px;
    }

    .header .login-btn {
        min-width: 75px;
        height: 40px;
    }

    .header .signup-btn {
        min-width: 75px;
        height: 40px;
    }
}

@media (max-width: 767px) {
    .mobile-hide {
        display: none !important;
    }

    .header {
        height: 72px;
    }

    .header .mobile-nav {
        max-width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .header .menu-toggle {
        display: none;
    }

    .header .hamburger {
        width: 30px;
        height: 30px;
        background: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .header .hamburger img {
        width: 25px;
        height: 25px;
    }

    .header .mobile-menu {
        width: 250px;
        height: 100vh;
        background: var(--navbar-bg);
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        transition: left 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;
        padding: 24px 20px;
    }

    .header .menu-toggle:checked~.mobile-menu {
        left: 0;
    }

    .header .mobile-logo {
        width: 158px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header .mobile-logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header .mobile-menu ul {
        list-style: none;
        padding: 0;
        margin-top: 20px;
    }

    .header .mobile-menu ul li {
        margin-bottom: 15px;
    }

    .header .mobile-menu ul li a {
        text-decoration: none;
        font-size: 18px;
        color: var(--navlink-color);
        font-weight: 600;
    }

    .header .mobile-menu ul li a:hover,
    .header .mobile-menu ul li a:active {
        color: var(--active-navlink-color);
    }

    .header .mobile-auth-buttons {
        width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    .hero{
        height: 100%;
        flex-direction: column;
    }
}